.label {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font: 16px "Inter";
    -fx-padding: 10px 14px;
    -fx-background-radius: 16px 16px 4px 16px;
    -fx-border-color: #cdd7d2;
    -fx-border-width: 1px;
    -fx-border-radius: 16px 16px 4px 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 4, 0.2, 0, 2);
}

.reply-label {
    -fx-background-color: #f1f7f5;
    -fx-text-fill: #2d2d2d;
    -fx-font: 16px "Inter";
    -fx-padding: 10px 14px;
    -fx-background-radius: 16px 16px 16px 4px;
    -fx-border-color: #cdd7d2;
    -fx-border-width: 1px;
    -fx-border-radius: 16px 16px 16px 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 4, 0.2, 0, 2);
}

#displayPicture {
    -fx-background-radius: 50%;
    -fx-border-color: #cdd7d2;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0.3, 0, 2);
}
